extends layout 

block content 
    h1= title 

    ul 
        each item in list_inventoryitem
            li
                a(href=item.url) #{item.model.name} (Size: #{item.size}) (#{item._id})



        else 
            li There are no models to show.