extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Title:
      input#name.form-control(type='text', placeholder='Name of model' name='name' required='true' value=(undefined===model ? '' : model.name) )
    div.form-group
      label(for='brand') Brand:
      select#brand.form-control(type='select' placeholder='Select brand' name='brand' required='true' )
        - brands.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for brand in brands
          if model
            option(value=brand._id selected=(brand._id.toString()===model.brand._id.toString() ? 'selected' : false) ) #{brand.name}
          else
            option(value=brand._id) #{brand.name}
    div.form-group
      label(for='summary') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='false') #{undefined===model ? '' : model.description}
    div.form-group
      label(for='retail_price') Retail price:
      input#retail-price.form-control(type='number', placeholder='retail price' name='retail_price' value=(undefined===model ? '' : model.retail_price) required='true')
    div.form-group
      label(for='thumbnail') Thumbnail: 
      input#thumbnail.form-control(type='text' placeholder='thumbnail URL' name='thumbnail' value=(undefined===model ? '' : model.thumbnail))
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li #{error.msg}
